<!DOCTYPE html>
<html>
<head lang="en">
    <title>Report</title>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>
<h3>Contents:</h3>
<a href="#brokenLinls">$txt_brokenlinks</a>
<br>
<a href="#validLinks">$txt_validlinks</a>
<br>
<a href="#tagSearch">$txt_tagsearch</a>
<br>
<a href="#textSearch">$txt_textlinks</a>
<br>
<a href="#statistic">$txt_statistic</a>

<h2><a name="brokenLinls"></a>$txt_brokenlinks:</h2>
    #set($brokenCount = 0)
    #foreach( $data in $datas )
        #if ($data.status != "200")
        <a href="$data.address">$data.address</a>
        <br>
            $txt_status: $data.status $txt_parent: <a href="$data.parentUrl">$data.parentUrl</a>
        <br>
        #set($brokenCount = $brokenCount + 1)
        #end
    #end
<h2><a name="validLinks"></a>$txt_validlinks:</h2>
    #foreach( $data in $datas )
        #if ($data.status == "200")
        <a href="$data.address">$data.address</a>
        <br>
        #end
    #end
<h2><a name="tagSearch"></a>$txt_tagsearch:</h2>
    #foreach( $tagText in $tagList )
    <h3>$tagText</h3>
        #foreach( $data in $datas )
            #if ($data.containsTag.contains($tagText))
            <a href="$data.address">$data.address</a>
            <br>
            #end
        #end
    #end

<h2><a name="textSearch"></a>$txt_textlinks:</h2>
    #foreach( $searchText in $searchList )
    <h3>$searchText</h3>
        #foreach( $data in $datas )
            #if ($data.containsText.contains($searchText))
            <a href="$data.address">$data.address</a>
            <br>
            #end
        #end
    #end


<h2><a name="statistic"></a>$txt_statistic:</h2>
$txt_allcount: $count
<br>
$txt_brokencount: $brokenCount
</body>
</html>