<!DOCTYPE html>
<html>
<head lang="en">
    <title>Report</title>
</head>
<body>
<h3>Contents:</h3>
<a href="#brokenLinls">Broken links</a>
<br>
<a href="#validLinks">Valid links</a>


<h2><a name="brokenLinls"></a>Broken links:</h2>
    #foreach( $data in $datas )
        #if ($data.status != "200")
        <a href="$data.address">$data.address</a>
        <br>
        status: $data.status parent: <a href="$data.parentUrl">$data.parentUrl</a>
        <br>
        #end
    #end
<h2><a name="validLinks"></a>Valid links:</h2>
    #foreach( $data in $datas )
        #if ($data.status == "200")
        <a href="$data.address">$data.address</a>
        <br>
        #end
    #end
</body>
</html>